<h1>Card</h1>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text"
            name="termino"
            [(ngModel)]="termino"
            class="form-control"
            placeholder="Busque personaje por nombre ..."/>
        </form>
    </div>
</div>
<br>

<div *ngIf="control"
     class="alert alert-danger">
    No se encontró nada con el nombre {{termino}}
</div>

<hr>

<div *ngIf="!control" class="row row-cols-4">
    <div *ngFor="let card of cards" class="card" style="width: 18rem;">
        <img src={{card.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{card.name}}</h5>
          <p class="card-text">{{card.gender}}</p>
          <p class="card-text">{{card.species}}</p>
        </div>
    </div>
</div>