<div class="container-fluid">

    <div class="row p-3 bg-secondary text-white">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg"
             alt="imagen de Rick and Morty" [ngStyle]="{ 'width' : '200px' }">
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">Contacto</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">Contacto 2</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">Contacto 3</p>
        </div>
    </div>

</div>